.preview {
  @apply flex items-center justify-center gap-4 h-screen;
}

.preview_img {
  @apply h-auto rounded-3xl;
  width: 320px;
}

.preview_img_popmode {
  min-height: 1200px;
  width: 1200px;
  object-fit: cover;
  object-position: center;
}

.preview_img_object {
  width: 300px;
  height: 300px;
}

.preview_img_main_object {
  @apply grid place-content-center rounded-3xl;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.error_text {
  @apply font-extrabold text-white text-4xl;
}

.refresh_page {
  @apply underline transition-colors hover:text-blue-400;
}

.title {
  @apply text-white tracking-wide font-bold text-3xl text-center transition-colors;
  width: 150%;
}

.title_wrong {
  @apply text-red-500 tracking-wide font-bold text-3xl text-center transition-colors;
  width: 150%;
}

.title_correct {
  @apply tracking-wide font-bold text-3xl text-center transition-colors;
  width: 150%;
  color: rgb(16, 185, 129);
}

.question {
  @apply flex flex-col items-center gap-5;
  width: 40%;
}

.answer {
  @apply text-white tracking-wide text-xl p-2 rounded-lg w-full bg-transparent outline-none border-none font-semibold;
  animation: 7s infinite alternate border-color;
}

.playerActivities {
  @apply w-3/12 flex flex-col gap-2 items-end;
}

@keyframes border-color {
  0% {
    @apply border-red-500;
    box-shadow: 0 0px 5px rgb(239, 68, 68);
  }
  14% {
    @apply border-orange-500;
    box-shadow: 0 0px 10px rgb(249, 115, 22);
  }
  28% {
    @apply border-yellow-500 shadow-yellow-500 shadow-2xl;
    box-shadow: 0 0px 5px rgb(234, 179, 8);
  }
  42% {
    @apply border-green-500 shadow-green-500 shadow-md;
    box-shadow: 0 0px 10px rgb(34, 197, 94);
  }
  56% {
    @apply border-blue-300 shadow-blue-300 shadow-2xl;
    box-shadow: 0 0px 5px rgb(147, 197, 253);
  }
  70% {
    @apply border-blue-600 shadow-blue-600 shadow-md;
    box-shadow: 0 0px 10px rgb(37, 99, 235);
  }
  84% {
    @apply border-purple-500 shadow-purple-500 shadow-2xl;
    box-shadow: 0 0px 5px rgb(168, 85, 247);
  }
  100% {
    @apply border-red-500 shadow-red-500 shadow-md;
    box-shadow: 0 0px 10px rgb(239, 68, 68);
  }
}

@media (max-width: 700px) {
  .question {
    width: 250px;
  }
  .preview {
    @apply flex-col gap-8;
  }

  .preview_img {
    @apply w-full;
  }

  .playerActivities {
    @apply w-10/12 flex-row gap-4 items-center;
  }

  .title {
    @apply text-xl;
  }

  .title_correct {
    @apply text-xl;
  }

  .title_wrong {
    @apply text-xl;
  }
}

@media (max-height: 590px) {
  .question {
    width: 190px;
  }

  .title {
    @apply text-base;
  }

  .title_correct {
    @apply text-base;
  }

  .title_wrong {
    @apply text-base;
  }
}

@media (max-height: 540px) {
  .question {
    width: 150px;
  }
}

@media (min-width: 1600px) {
  .preview_img {
    width: 500px;
  }
  .error_text {
    @apply text-3xl;
  }
}
