.description {
  @apply flex items-center justify-center gap-16 h-screen;
}

.description_text_default {
  @apply text-white font-semibold text-xl relative border-y-white border-y-2 p-8;
}

.description_text_smaller {
  @apply text-white font-semibold text-lg relative border-y-white border-y-2 p-8;
}

.description_text_small {
  @apply text-white font-semibold text-base relative border-y-white border-y-2 p-8;
}

.description_text_smallest {
  @apply text-white font-semibold text-sm relative border-y-white border-y-2 p-8;
}

.error_text {
  @apply font-extrabold text-white text-4xl;
}

.refresh_page {
  @apply underline transition-colors hover:text-blue-400;
}

.title {
  @apply text-white tracking-wide font-bold text-3xl text-center transition-colors;
}

.title_wrong {
  @apply text-red-500 tracking-wide font-bold text-3xl text-center transition-colors;
}

.title_correct {
  @apply tracking-wide font-bold text-3xl text-center transition-colors;
  color: rgb(16, 185, 129);
}

.question {
  @apply flex flex-col items-center  gap-3;
  width: 60%;
  max-height: 550px;
  overflow-y: scroll;
  scrollbar-color: #d4aa70 #e4e4e4;
}

.question::-webkit-scrollbar {
  width: 0px;
}

.question::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.question::-webkit-scrollbar-thumb {
  @apply bg-pink-600;
  border-radius: 100px;
}

.answer {
  @apply text-white tracking-wide text-xl p-2 rounded-lg w-full bg-transparent outline-none border-none font-semibold;
  animation: 7s infinite alternate border-color;
}

.playerActivities {
  @apply w-3/12 flex flex-col gap-2 items-end;
}

@keyframes border-color {
  0% {
    @apply border-red-500;
    box-shadow: 0 0px 5px rgb(239, 68, 68);
  }
  14% {
    @apply border-orange-500;
    box-shadow: 0 0px 10px rgb(249, 115, 22);
  }
  28% {
    @apply border-yellow-500 shadow-yellow-500 shadow-2xl;
    box-shadow: 0 0px 5px rgb(234, 179, 8);
  }
  42% {
    @apply border-green-500 shadow-green-500 shadow-md;
    box-shadow: 0 0px 10px rgb(34, 197, 94);
  }
  56% {
    @apply border-blue-300 shadow-blue-300 shadow-2xl;
    box-shadow: 0 0px 5px rgb(147, 197, 253);
  }
  70% {
    @apply border-blue-600 shadow-blue-600 shadow-md;
    box-shadow: 0 0px 10px rgb(37, 99, 235);
  }
  84% {
    @apply border-purple-500 shadow-purple-500 shadow-2xl;
    box-shadow: 0 0px 5px rgb(168, 85, 247);
  }
  100% {
    @apply border-red-500 shadow-red-500 shadow-md;
    box-shadow: 0 0px 10px rgb(239, 68, 68);
  }
}
@media (max-width: 1440px) {
  .title {
    @apply text-2xl;
  }

  .title_wrong {
    @apply text-2xl;
  }

  .title_correct {
    @apply text-2xl;
  }
}

@media (max-width: 1150px) {
  .question::-webkit-scrollbar {
    width: 4px;
  }

  .question {
    max-height: 500px;
  }
  .title {
    @apply text-xl;
  }

  .title_wrong {
    @apply text-xl;
  }

  .title_correct {
    @apply text-xl;
  }
}

@media (max-width: 950px) {
  .description {
    @apply gap-4 flex-col border-none;
  }

  .question {
    @apply flex flex-col items-center gap-0;
    width: 95%;
  }

  .playerActivities {
    @apply w-10/12 flex-row items-center gap-12;
  }

  .description_text_default {
    @apply border-none p-5;
  }

  .description_text_smaller {
    @apply border-none p-5;
  }

  .description_text_small {
    @apply border-none p-5;
  }

  .description_text_smallest {
    @apply border-none p-5;
  }

  .error_text {
    @apply text-2xl;
  }
}

@media (max-width: 800px) {
  .question {
    max-height: 450px;
  }
}

@media (max-height: 610px) {
  .question {
    max-height: 300px;
  }
}

@media (min-width: 1600px) {
  .description {
    @apply gap-4 flex-col border-none;
  }

  .question {
    @apply flex flex-col items-center gap-0;
    width: 80%;
  }

  .playerActivities {
    @apply w-5/12 flex-row items-center gap-12;
  }
  .answer {
    @apply w-3/4;
  }

  .description_text_default {
    @apply border-none p-5 text-4xl;
  }

  .description_text_smaller {
    @apply border-none p-5 text-4xl;
  }

  .description_text_small {
    @apply border-none p-5 text-4xl;
  }

  .description_text_smallest {
    @apply border-none p-5 text-4xl;
  }

  .error_text {
    @apply text-3xl;
  }
  .question {
    max-height: 700px;
  }
}
